.App {
  text-align: center;
}
.form{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.to{
  width: 400px;
  gap: 14px;
  padding: 9px 9px;
  margin-top: 8px;
  
}

.input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 9px 9px;
  margin-top: 8px;
}

.btn{
  width: 300px;
}